/* COLORS */
$color-scheme-1: #142325;
$color-scheme-2: #11434A;
$color-scheme-3: #3B0D8D;
$color-scheme-4: #643DBF;
$color-scheme-5: #D2ECD6;


$layout-bg-color: cornflowerblue !default;
$content-bg-color: white !default;
$header-bg-color: darkblue !default;
$header-text-color: white !default;
$header-active-text-color: cyan !default;
$header-hover-text-color: cyan !default;
$nav-bar-bg-color: darkcyan !default;
$nav-bar-text-color: white !default;

@if variable-exists(layout-background-color) {
    $layout-bg-color: $layout-background-color;
}

@if variable-exists(content-background-color) {
    $content-bg-color: $content-background-color;
}

@if variable-exists(header-background-color) {
    $header-bg-color: $header-background-color;
}

@if variable-exists(header-font-color) {
    $header-text-color: $header-font-color;
}

@if variable-exists(header-active-font-color) {
    $header-active-text-color: $header-active-font-color;
}

@if variable-exists(header-hover-font-color) {
    $header-hover-text-color: $header-hover-font-color;
}

@if variable-exists(nav-bar-background-color) {
    $nav-bar-bg-color: $nav-bar-background-color;
}

@if variable-exists(nav-bar-font-color) {
    $nav-bar-text-color: $nav-bar-font-color;
}