@import 'layout.variables';
@import 'layout.mixin';

:host{
    flex-direction: column;
    flex: 1;
    background: #D9EDE0;
    .layout-demo{
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
    }
}