@import 'layout.variables';
@import 'layout.mixin';

:host{
    &::ng-deep{
        display: flex;
        flex-direction: column;
        width: 100%;
        background: $layout-bg-color;

        .container{
            position: fixed;
            height: 100%;
            width: 100%;
            background-color: $content-bg-color;
            overflow: hidden;
            display: flex;
            flex: 1;

            lo-button{
                button{
                    &.is-active{
                        background: greenyellow;
                    }

                    &:not(.is-active){
                        background: red;
                    }
                }
            }

            course-column{
                &.space-intro{
                    background: url('../../../assets/img/space.gif') no-repeat;
                    background-size: 100% 100%;
                    intro-slideshow{
                        div.intro-slideshow-content{
                            flex-direction: row;
                            align-items: center;
                            font-family: 'last-jedi', Arial, sans-serif;
                            paragraph{
                                margin: 0 auto;
                                p{
                                    color: #351C75;
                                    font-size: 1.4rem;
                                    text-align: center;
                                    line-height: 1.5;
                                    width: 80%;
                                    margin: 0 auto;
                                    &:not(:first-of-type) {
                                        margin-top: 20px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.img-intro{
                    background-size: auto 100% !important;
                    background-position: center !important;
                }

                &.cover{
                    .simple-container{
                        flex-direction: column;

                        .main-title{
                            font-size: 4rem;
                            border-bottom: 1px solid gray;
                            p {
                                margin: 20px 0;
                            }
                        }

                        .subtitle{
                            margin-top: 20px;
                            font-size: 1.5rem;
                            p {
                                margin: 10px 0;
                            }
                        }
                    }
                }
            }

            course-row{
                &.cover-bottom{
                    background: #351C75;
                    padding: 20px;
                    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
                    box-sizing: border-box;

                    .entity-in-charge{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding-left: 20px;
                        p{
                            color: white;
                            font-size: 2rem;
                            margin: 5px 0;
                        }
                    }
                }
            }

        }
    }
}