<div class="where">
   <span class="prefix">Está en: </span> {{getSectionName()}}
</div>
<div class="navigation">
    <title [title]="getSectionName()" [iconClass]="getSectionIcon()"></title>
    <div class="nav" *ngIf="!hasOnlyOneSlide()">
        <div class="nav-container">
            <div class="before" *ngIf="!isFirstSlide()">
                <div class="wrapper" (click)="previous()"><div><i class="fas fa-4x fa-angle-left"></i> <span>Anterior</span></div></div>
            </div>
            <div class="position"> <div class="inner"> {{navPosition.slide + 1}} / {{navPosition.totalSlides}} </div> </div>
            <div class="after" *ngIf="!isLastSlide()" (click)="previous()">
                <div class="wrapper" (click)="next()"><div><span>Siguiente</span><i class="fas fa-4x fa-angle-right"></i></div></div>
            </div>
        </div>
    </div>
</div>

