:host{
    .side-menu-column{
        position: absolute;
        height: 100%;
        width: 250px;
        z-index: 100;
        background: blue;
        top: 0;
        left: -250px;
        transition: all ease 0.3s;
    }

    .side-menu-shadow{
        display: none;
        position: absolute;
        z-index: 99;
        height: 100%;
        width: 100%;
        background: #060606;
        opacity: 0.8;
    }

    .active{
        .side-menu-column, .side-menu-shadow{
            display: block;
        }

        .side-menu-column{
            transform:translateX(250px);
        }
    }
}